.dexshipment-table-overlay {
	position: fixed;
	z-index: 1000;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
}
.dexshipment-table {
	position: fixed;
	z-index: 1001;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255, 255, 255, 1);
	padding: 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.dexshipment-table h3 {
	width: 100%;
	text-align: center;
}
.dexshipment-table p {
    width: 50%;
    margin-bottom: 20px;
    margin-top: 0;
    display: flex;
    padding-right: 30px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.dexshipment-table label {
	width: 100%;
	margin-bottom: 5px;
}
.dexshipment-table input,
.dexshipment-table select {
	width: 100%;
}
.dexshipment-table input[type="checkbox"] {
	width: 16px;
	height: 16px;
}
.dexshipment-table-footer {
	margin-top: 10px;
}
#metaxy_create_manifest_metabox,
#metaxy_tax_documents_metabox,
#metaxy_order_shipment_metabox,
#metaxy_shipment_tracking_metabox {
  text-align: center;
}
.dexshipment-table-footer button,
.dexshipment-generate,
.document-link-wrap a,
#shipment-tracking-button,
.create-manifest-button,
.create-eu-label-button,
#create-manifest {
  display: flex;
  text-decoration: none;
  font-size: 13px;
  line-height: 2.15384615;
  min-height: 30px;
  margin: 15px 0;
  padding: 0 10px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  background: #007cba;
  border-color: #007cba;
  box-shadow: none;
  color: #fff;
  transition: all 0.3s;
  margin-right: auto;
  margin-left: auto;
  max-width: 200px;
  justify-content: center;
  color: #fff !important; 
}
.dexshipment-table-footer button:hover,
.dexshipment-generate:hover,
.document-link-wrap a:hover {
	background: #00669b;
  border-color: #00669b;

}
.filter-overlay {
  position: absolute;
  top: 0;
  right: 0px;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.filter-overlay .loading {
	display: flex;
}
.loading {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 3;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #ccc;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ccc transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}