.metaxy_tab_title{
  border: 1px solid #333;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 10px;

  display: inline-block;
}

.metaxy_tab_title.active{
  background-color: #333;
  color: #fff;
}